<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <form action="/users/new" method="get"><input type="submit" value="Add User"></form>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <% for(user of users) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><form action="/users/<%= user.id %>/edit" method="get">
                <button>Edit</button>
            </form></td>
            <td><form action="/users/<%= user.id %>/delete" method="get">
                <button>Delete</button>
            </form></td>
        </tr>
        <% } %>
    </table>
</body>
</html>